@import url("https://use.typekit.net/nnw8apr.css");
header p, article .pictureframe {
  margin: 0;
  border: 0;
  padding: 0; }

body {
  background-color: #F8F8F8;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  perspective: 800px; }

header {
  margin: 3%; }
  header h1 {
    margin: 10px 0;
    font-family: "Futura PT Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: bold; }
  header p {
    color: #666666;
    font-size: 12px;
    font-weight: inherit;
    text-align: center; }
  header img {
    width: 3%;
    margin-left: 48.5%; }

main {
  overflow: auto; }

article {
  position: relative;
  width: 30%;
  margin: 2.5% 0 0 2.5%;
  float: left;
  height: 190px;
  overflow: hidden; }
  article:hover .slideinfo {
    transform: translateY(-70px); }
  article .pictureframe {
    height: 190px;
    overflow: hidden; }
  article .slideinfo {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Futura PT", Arial, Helvetica, sans-serif;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: inherit;
    transition: 1s; }
  article p {
    margin: 4px; }
  article a {
    text-decoration: none;
    color: #F8F8F8;
    font-size: 16px;
    font-weight: inherit; }
  article a:hover {
    text-decoration: underline; }

article:nth-child(3n+1) {
  clear: left; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  footer p {
    margin-top: 10%;
    font-family: "Futura PT", Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 10px;
    font-weight: inherit; }
    footer p a {
      text-decoration: none;
      color: #666666; }
    footer p a:hover {
      text-decoration: underline; }

.spinner {
  animation: spin 2.8s ease-in-out; }

.wiggles {
  animation: wiggle 2s ease-in-out 10s infinite; }

@keyframes spin {
  to {
    transform: rotateY(1080deg); } }

@keyframes wiggle {
  0% {
    transform: translateX(0px); }
  1% {
    transform: translateX(2px); }
  2% {
    transform: translateX(-4px); }
  3% {
    transform: translateX(6px); }
  4% {
    transform: translateX(-8px); }
  5% {
    transform: translateX(0px); }
  6% {
    transform: translateX(2px); }
  7% {
    transform: translateX(-4px); }
  8% {
    transform: translateX(6px); }
  9% {
    transform: translateX(-8px); }
  10% {
    transform: translateX(0px); }
  100% {
    transform: translateX(0px); } }
