// commonly repeated values
@import url("https://use.typekit.net/nnw8apr.css");

$fontstack1: Georgia, Arial, Helvetica, sans-serif;
$fontstack2: "Futura PT Bold", Arial, Helvetica, sans-serif;
$fontstack3: "Futura PT", Arial, Helvetica, sans-serif;

$smallestfont: 12px;
$smallfont:14px;
$medfont: 16px;
$largefont: 20px;
$largestfont:24px;

$grey1: #F8F8F8;
$grey2: #DDDDDD;
$grey3: #CCCCCC;
$grey4: #666666;
$grey5: #333333;
$grey5transp:rgba(0, 0, 0, 0.8);

$selected: rgb(37, 141, 27);

$catcalico: rgb(109, 63, 11);
$catorange: rgb(243, 177, 92);
$catblack: black;
$catgrey: #AAAAAA;



