// commonly repeated values

$fontstack: "Helvetica Neue", Arial, Helvetica, sans-serif;
$smallestfont: 12px;
$smallfont:14px;
$medfont: 16px;
$largefont: 20px;
$largestfont:24px;

$grey1: #EEEEEE;
$grey2: #DDDDDD;
$grey3: #CCCCCC;
$grey4: #BBBBBB;
$grey5: #333333;

$selected: rgb(37, 141, 27);

$catcalico: rgb(109, 63, 11);
$catorange: rgb(243, 177, 92);
$catblack: black;
$catgrey: #AAAAAA;



